.wrapper {
  display: grid;
  grid-template-areas:
          'h h'
          'm n'
          'f f';
    grid-gap: 10px;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 4fr 1fr;
    margin-top: 10px;
}

.header__item {
    grid-area: h;
    border: 1px solid black;
}

.main__item {
    grid-area: m;
    border: 1px solid black;
}

.nav__item {
    grid-area: n;
    border: 1px solid black;
}

.footer__item {
    grid-area: f;
    border: 1px solid black;
}