html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: #fff;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1220px;
    padding: 0 10px 0 10px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #1b1818;
}

.benefits {
    padding: 100px 0;
}

h3 {
    font-family: 'fira sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 50px;
}

.benefits__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefits__list {
    width: 300px;
    list-style: none;

}

.benefits__list-item {
    margin-bottom: 27px;
    padding-right: 26px;
    position: relative;
    text-align: right;
}

.benefits__list-item::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #1b1818;
    border-radius: 50%;
    right: 0;
    top: 3px;
}

.benefits__list-item:nth-child(1),
.benefits__list-item:nth-child(7) {
    margin-right: 10px;
}

.benefits__list-item:nth-child(2),
.benefits__list-item:nth-child(6) {
    margin-right: 60px;
}

.benefits__list-item:nth-child(3),
.benefits__list-item:nth-child(5) {
    margin-right: 100px;
}

.benefits__list-item:nth-child(4) {
    margin-right: 150px;
}

.benefits__content {
    width: 300px;
    text-align: right;
}

.benefits__text {
    margin-bottom: 30px;
}

.benefits__text+.benefits__text {
    width: 265px;
    margin-left: auto;
}

.video-popup {
    background: #c5ac2d;
    text-transform: uppercase;
    color: #fefefe;
    padding: 6px 34px 6px 64px;
    text-align: center;
    display: inline-block;
    position: relative;
}

.video-popup::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../images/play-btn.svg);
    top: 5px;
    left: 34px;
}