* {
    box-sizing: border-box;
}

a {
    color: #fff;
}

/* fonts */
@font-face {
    font-family: "Sans Serif";
    src: url("../fonts/Gilroy/") format("wolf2"), 
    src: url("../fonts/Gilroy/") format("wolf");
    font-weight: 700;
    font-style: normal;
}

/* header logo menu sign */
.container {
    background-color: gray;
    max-height: 1920px;
    margin: 0 80px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list {
    display: flex;
    list-style: none;
}

.menu__list-link {
    text-decoration: none;
}

.sign {
    display: flex;
}

.sign__text {
    text-decoration: none;
    padding-left: 9px;
    line-height: 50px;
}

.sign__logo {
    margin: auto;
}