<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test-vue</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!--	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
</head>
<body>
<div id="app">
    <h2>Add: {{text}} </h2>
    <h2>Filter: {{ rowsSum.length }}  {{ filterSum.length }}</h2>
    <input type="text" v-model.trim="text" @keydown.enter="add"/>
    <button @click="add">add</button>

    <div v-if="filterSum.length">line repeat</div>

    <ul>
        <li
                v-for="(user, idx) in users"
                :key="idx"
                @click="remove(idx)"
                class="name"
        >
            {{ user.name }}
            <button>-</button>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                text: '',
                users: [],
                // filter: false,
            }
        },

        computed: {

            rowsSum() {
                return this.users.filter(item => item.name.includes(this.text));
            },

            filterSum() {
                return this.users.filter(item => item.name === this.text);
            },
        },

        methods: {

            add() {
                const addText = {
                    name: this.text
                };
                    if (this.text === '' || this.text === this.filterSum[0]?.name) {
                        // this.filter = true;
                        return;
                    }
                        this.users.push(addText);
                        this.text = '';
                        // this.filter = false;
            },




            remove(idx) {
                // console.log(this.users[idx]);
                this.users.splice(idx, 1);

            },


        },

    })
</script>
</body>
</html>