.dialogs {
    display: grid;
    grid-template-columns: 1.5fr 8fr;
    padding: 20px;
}

.dialog {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.avatar img {
    width: 30px;
}

.messages {
    border-left: 1px solid black;
    padding-left: 20px;
}
